<div class="item" ng-controller="itemController">

  <img ng-src="{{item.images[0].external}}" alt="">
  <div class="title">
    {{item.name}}
  </div>

  <div class="condition">
    {{item.condition}} Condition
  </div>
  <div class="price">
    {{item.price | currency:"$"}}
  </div>
  <div class="discription  mui--z2">
    {{item.description}}
  </div>

  <div class="comments">

    <div class="commentHeader">
      Comments
    </div>

    <comment ng-repeat="comment in item.comments"><b>{{comment.username}}</b> {{comment.comment}}</comment>


<form ng-submit="createComment(comment)">


    <div class="mui-textfield">
    <input ng-model="comment" rows="0" placeholder="New Comment">
  </div>
</form>

  </div>




</div>
