<div class="item" ng-controller="itemController">

  <div ng-show="loading" class="loading">
      <b>Loading Item</b>
      <div class="sk-three-bounce">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
      </div>
  </div>


  <img ng-src="{{item.images[0].external}}" alt="">
  <div class="title">
    {{item.name}}
  </div>

  <div class="condition">
    {{item.condition}} Condition
  </div>
  <div class="price">
    {{item.price | currency:"$"}}
  </div>
  <div class="discription  mui--z2">
    {{item.description}}

    <div class="center" ng-show="$auth.user.wishlist.indexOf(item._id) == -1">
      <br><br>
      <button ng-click="add()" class="mui-btn mui-btn--raised mui-btn--primary">Add To Wishlist</button>
    </div>

  </div>




  <div class="comments">

    <div class="commentHeader">
      Comments
    </div>

    <comment ng-repeat="comment in item.comments"><b>{{comment.username}}</b> {{comment.comment}}</comment>


<div class="center" ng-hide="$auth.user._id">
  <button ui-sref="login" class="mui-btn mui-btn--raised mui-btn--primary">Login to Comment</button>

</div>

<form ng-submit="createComment(comment)" ng-show="$auth.user._id">


    <div class="mui-textfield">
    <input ng-model="comment" rows="0" placeholder="New Comment">
  </div>
</form>

  </div>




</div>
