<top-bar></top-bar>
<primary-nav>
    <i class="material-icons left" ng-click="toggleNav()">menu</i>
    <div class="brand">
        <low>thrift</low>Fund
    </div>
    <i ui-sref="home" ng-show="$state.current.name == 'new' || $state.current.name == 'item'" class="material-icons right">list</i>
    <i ui-sref="new" ng-show="$state.current.name != 'new' && $state.current.name != 'item'" class="material-icons right">add_circle</i>
</primary-nav>
<primary-nav-fill></primary-nav-fill>


<nav-overlay class="animated fadeInDownBig" ng-show="showNav" ng-click="toggleNav()">
    <div class="brand-container">

        <div class="brand">
            <low>thrift</low>Fund
        </div>

    </div>

    <item ui-sref="home">Listings</item>
    <item ui-sref="new">Donate</item>
    <item ui-sref="register" ng-hide="$auth.user._id">Register</item>
    <item ui-sref="login" ng-hide="$auth.user._id">Login</item>
    <item ui-sref="wishlist" ng-show="$auth.user._id">Wishlist</item>

    <item ng-click="$auth.logout()" ng-show="$auth.user._id">Logout</item>


    <user-nav ng-show="$auth.user._id">
      <username>{{$auth.user.username}}</username>
      <name>{{$auth.user.name.first}} {{$auth.user.name.last}}</name>
    </user-nav>

</nav-overlay>

<div ui-view class="mainContent"></div>

<footer>

    <div class="brand">
        <low>thrift</low>Fund
    </div>

</footer>
