<primary-nav>
    <i class="material-icons left" ng-click="toggleNav()">menu</i>
    <div class="brand">
        <low>thrift</low>Fund
    </div>
    <i ui-sref="home" ng-show="$state.current.name == 'new' || $state.current.name == 'item'" class="material-icons right">view_list</i>
    <i ui-sref="new" ng-show="$state.current.name != 'new' && $state.current.name != 'item'" class="material-icons right">add_circle</i>
</primary-nav>
<primary-nav-fill></primary-nav-fill>


<nav-overlay class="animated fadeInDownBig" ng-show="showNav" ng-click="toggleNav()">
    <div class="brand-container">

        <div class="brand">
            <low>thrift</low>Fund
        </div>

    </div>

    <item ui-sref="home">Listings</item>
    <item ui-sref="new">Donate</item>
    <item>Register</item>
    <item>Login</item>

</nav-overlay>

<div ui-view class="mainContent"></div>

<footer>

    <div class="brand">
        <low>thrift</low>Fund
    </div>

</footer>
