body {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #e6e6e6;
}

html{
	background-color: #e8e8e8;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.mainContent{
	max-width: 500px;
	margin: auto;
}
