<div ng-controller="registerController" class="register">

  <secondary-nav>

  Register An Account

  </secondary-nav>

  <mui-panel style="margin: 0;">

<div class="icon-container">

  <i class="material-icons">account_circle</i>
  <p>Registering allows you to comment, post, and favorite items.</p>



</div>


<div class="error" ng-show="error">
  {{error}}
</div>

    <form ng-submit="register(user)">
      <mui-input ng-model="user.name.first" float-label label="First Name" required></mui-input>
      <mui-input ng-model="user.name.last" float-label label="First Name" required></mui-input>
      <mui-input ng-model="user.username" float-label label="Username" required></mui-input>
      <mui-input ng-model="user.password" float-label label="Password" required></mui-input>





      <div class="center">
        <mui-button type="submit" color="primary" variant="raised">Register</mui-button>
      </div>

</form>

  </mui-panel>

</div>
