.center{
  text-align: center;
}

.cropper {
  border-radius: 8px;
  border: 2px dashed #ccc;
}

img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.offscreen{
  position:absolute;
  top:-100px;
}

.picturePlaceholder{
  width: 100vw;
  margin-top: 0;
  height: 100vw;
  max-width: 500px;
  max-height: 500px;
  background-color: #d0d0d0;
  text-align: center;
}

.picturePlaceholder i{
  line-height: 100vw;
  font-size: 7em;
  color: grey;
}

@media all and (min-width: 500px) {
.picturePlaceholder i {
  line-height: 500px;
}
}

.new-unauthed{
  text-align: center;
  margin-top: 10vh;
}

.new-unauthed p{

  font-family: 'Open Sans', sans-serif;


}

.loading{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  padding: 20px;
  margin-top: 20vh;
}


.new-unauthed i{

  font-size: 10em;
  color: grey

}
