<?xml version='1.0' encoding='utf-8'?>
<widget id="fund.thrift.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Thrift Fund</name>
    <description>
      Thift Fund FBLA Competition App
    </description>
    <author email="john@thedews.us" href="http://thedews.us">
      John Dews
    </author>
    <content src="index-ios.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <engine name="ios" spec="~4.4.0" />
    <plugin name="cordova-plugin-keyboard" spec="^1.1.5" />
    <plugin name="cordova-plugin-media-capture" spec="*">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="App would like to access the camera so you can photograph items" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="App would like to access the library." />
    </plugin>
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
